<div class="topnav">
    <div *ngIf="role === 'Admin'">
      <a href="#" routerLink="/loan"  > New Loan</a>
    </div>
    <a href="#" routerLink="/Loan"  >Loan</a>
    <div class="topnav-right">
      <a href="#" onclick="Logout()" >Logout</a>

    </div>
  </div>
  <form  [formGroup]="SearchDetail" (ngSubmit)="SearchDetails()">
  <div style="margin-top: 20px;"class="container">
        <div class="row">
      <div class="col">
        <label for="title">First Name</label>
            <input
                formControlName="FirstName"
                id="title"
                type="text"
                class="form-control">
      </div>
      <div class="col">
        <label for="title">Last Name</label>
        <input
            formControlName="LastName"
           
            type="text"
            class="form-control">
      </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="title">Loan Number</label>
                <input
                    formControlName="LoanNumber"
                    id="title"
                    type="text"
                    class="form-control">
              
              </div>
              <div class="col">
                <br>
                <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
            </div>
  </div>
</form>
<br/>
  <br/>
  <div class="container">
    <table class="table table-bordered solid">
      <tr>
        <th>Loan Number</th>
        <th>Name</th>
        <th>Loan Amount</th>
        <th>Property Address</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let post of loandetails">
        <td>{{ post.id }}</td>
         <td>{{ post.firstname }}</td> 
        <td>{{ post.loanamount }}</td> 
        <td>{{ post.Property }}</td> 
        <td>
          <div *ngIf="role === 'Admin'">
          <a href="#" [routerLink]="['/edit-loan/', post.id, 'EditLoan']" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>
        </div>
        </td>
      </tr>
    </table>
</div>